@import 'tailwindcss';

body {
  font-family:
    "Zen Kaku Gothic New",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Hiragino Sans",
    "Hiragino Kaku Gothic ProN",
    "Noto Sans JP",
    sans-serif;
}
