<div class="pointer-events-none fixed inset-0 -z-10 overflow-hidden">
  <div
    class="absolute -left-[240px] -top-[220px] h-[560px] w-[560px] rounded-full bg-[#5eb02f]/12 blur-[124px]"
  >
  </div>
  <div
    class="absolute -right-[220px] top-8 h-[560px] w-[560px] rounded-full bg-[#cbd5e1]/14 blur-[130px]"
  >
  </div>
  <div
    class="absolute left-1/2 top-[44%] h-[460px] w-[460px] -translate-x-1/2 rounded-full bg-[#e2e8f0]/24 blur-[120px]"
  >
  </div>
  <div
    class="absolute -bottom-36 left-[12%] h-[460px] w-[460px] rounded-full bg-[#5eb02f]/9 blur-[124px]"
  >
  </div>
</div>
